body { -webkit-text-size-adjust:none; }
a.jg-linkbtn { display:block; cursor:pointer; }
.jg-txt-search { width:250px; height:34px; border:0; color:white; font-size:14px; padding-left:40px; box-sizing:border-box; font-weight:100; background:#005760 url("../images/dk-icon-loupe.png") 12px 50% no-repeat;; border-radius:20px; }
.jg-btn { padding:7px 20px; border:0; border-radius:30px; font-size:14px; background:#0C727A; color:#fff; cursor:pointer; }
.jg-btn + .jg-btn { margin-left:10px; }
.jg-textheader { margin-top:5px; }
.jg-buttonheader { margin-top:8px; }
.jg-btn-transparent { background-color:transparent; color:#0c727A; padding:10px 35px 10px 0; color:#0C727A; background-position:right 50%; background-repeat:no-repeat; background-size:30px; }
.jg-btn-icononly { width:16px; height:16px; padding:0; margin:0; background-size:16px; }
.jg-btn-icononly.addrow { background-image:url('/img/config/add.png'); }
tfoot .jg-btn { margin:10px; }

.jg-btn-icon { padding:10px 20px 10px 45px; background-repeat:no-repeat; background-position:8px 48%; }
.jg-btn-icon.cart-update { background-image:url('../images/dk-icon-cart-update.png'); }
.jg-btn-icon.cart-startover { background-image:url('../images/dk-icon-cart-startover.png'); }
.jg-btn-icon.cart-addtoorder { background-image:url('../images/dk-icon-cart-addtoorder.png'); }
.jg-btn-icon.cart-cancelshopping { background-image:url('../images/dk-icon-cart-cancelshopping.png'); }
.jg-btn-icon.cart-save { background-image:url('../images/dk-icon-cart-save.png'); }

#jg-overlay { position:fixed; top:0; right:0; bottom:0; left:0; z-index:99999; background:white; background-image: url("../images/loading-icon.gif");
    background-repeat: no-repeat;
    background-position: center center;}

.jg-box-mainlayout { position:relative; }
.jg-box-mainlayout, .jg-box-mainlayout .tab-strip .tab-text, .jg-box-mainlayout .error-text
{ font-family:Arial, Helvetica, sans-serif; }
.jg-box-maincontent .button-text, .jg-box-maincontent .button-text:link, .jg-box-maincontent .button-text:visited { font-size:14px; font-weight:normal; }
.jg-box-mainlayout .text-wrapper-inner, .jg-box-mainlayout .form-item select { background:#fff; }
.jg-box-mainlayout .panel { border:0; margin-top:20px; float: left; }
.jg-box-mainlayout .panel .panel-body, .jg-box-mainlayout .panel .panel-body .field { font-size:14px; color:#404040; }
.jg-box-mainlayout .tab-content { padding:0; border:0; }
.jg-box-mainlayout .column-layout + .column-layout { margin-top: 3px; }
.jg-box-mainlayout form[name="bmDocForm"] .form-item { padding:0 20px; }
.jg-box-mainlayout .qs_header label,
.jg-box-mainlayout #attr_wrapper_1_billToAddress_html_t label,
.jg-box-mainlayout #attr_wrapper_1_soldToAddress_html_t label,
.jg-box-mainlayout #attr_wrapper_1_payerTo_html_t label,
.jg-box-mainlayout #attr_wrapper_1_shipToAddress_html_t label { background:#007077; padding:7px 15px; box-sizing:border-box; }
.jg-box-mainlayout .qs_header span,
.jg-box-mainlayout #attr_wrapper_1_billToAddress_html_t label,
.jg-box-mainlayout #attr_wrapper_1_soldToAddress_html_t label,
.jg-box-mainlayout #attr_wrapper_1_payerTo_html_t label,
.jg-box-mainlayout #attr_wrapper_1_shipToAddress_html_t label { font-size:18px; }
.jg-box-mainlayout .column-layout .column { box-sizing:border-box; }
.jg-box-mainlayout .panel .panel-tc,
.jg-box-mainlayout .panel .panel-tl,
.jg-box-mainlayout .panel .panel-tr,
.jg-box-mainlayout .panel .panel-mr,
.jg-box-mainlayout .panel .panel-ml { background:#afc008; }
.jg-box-mainlayout .panel .panel-tl { border:0; padding:7px 15px; }
.jg-box-mainlayout .panel .panel-tr { padding-right:0; }
.jg-box-mainlayout .panel .panel-body { border:0; background:none; }
.jg-box-mainlayout .text-wrapper-inner { padding:0; }
.jg-box-mainlayout .text-wrapper-inner input { box-sizing:border-box; }
.jg-box-mainlayout .panel.collapsible span.panel-heading { background:none; padding-left:0; }
.jg-box-mainlayout .panel.collapsible .panel-tc { background:url('../images/dk-panel-arrow-down.png') 100% 50% no-repeat; }
.jg-box-mainlayout #document-form { background:none; border:0; }
.jg-box-mainlayout .inlinevalue { float:left; padding-left:0 !important; margin-left:10px; }
.jg-box-mainlayout .form-element ul { margin:0; padding:2px 0; }
.jg-box-mainlayout .panel .panel-bc, .jg-box-mainlayout .panel .panel-bl, .jg-box-mainlayout .panel .panel-br { background:none; }
.jg-box-mainlayout table { border:0 !important; background:#edeac7; }
.jg-box-mainlayout td.button-middle { margin:0; background:#007078; }
.jg-box-mainlayout .button-text, .jg-box-mainlayout .button-text:link, .jg-box-mainlayout .button-text:visited { color:#fff; }
.jg-box-mainlayout .view-label, .jg-box-mainlayout .form-label, .jg-box-mainlayout .form-item label { color:#404040!important; }
.jg-box-mainlayout .column.label-left .blocklabel { display:block; float:none; padding:0; margin-bottom:5px; }
.jg-box-mainlayout .view-label, .jg-box-mainlayout .form-label, .jg-box-mainlayout .form-item label { font-size:14px; font-weight:bold; }
.jg-box-mainlayout #attr_wrapper_1_visualWorkflow { margin:0; padding:0; }
.jg-box-mainlayout #attr_wrapper_1_visualWorkflow .form-label { display:none; float:none; width:auto; margin:0 0 20px; }
.jg-box-mainlayout #field_wrapper_1_visualWorkflow { text-align:center; }
.jg-box-mainlayout #field_wrapper_1_visualWorkflow img { width:auto !important; }
.jg-box-mainlayout .bm-actionstrip-horiz table { margin:0; }
.jg-box-mainlayout .bottom-bar, .jg-box-mainlayout  .bottom-bar:link, .jg-box-mainlayout  .bottom-bar:visited { background:none; }
.jg-box-mainlayout table[onclick] + table[onclick], .jg-box-mainlayout a + table[onclick], .jg-box-mainlayout table[onclick] + a > table { margin-left:10px; }
.jg-box-mainlayout .tab-strip .rule-highlight a.tab-left, .jg-box-mainlayout .tab-strip .rule-highlight a.tab-left .tab-inner { }
.jg-box-mainlayout .tab-strip .rule-highlight a.tab-left .tab-text {  }
.jg-box-mainlayout .attribute-field { word-wrap:break-word; }

/* errors box */
.jg-box-mainlayout #actionErrorMessagesBox { width:auto; margin:20px;}
.jg-box-mainlayout li.error-text { font-size:14px; padding-left:25px; }
.jg-box-mainlayout li.error-text + li.error-text, .jg-box-mainlayout ul.error-text + ul.error-text { margin-top:5px; }
.jg-box-mainlayout #globalErrorMessages ul.plain-list li { font-size:14px; padding-left:25px; }
.jg-box-mainlayout #globalErrorMessages ul.plain-list li + li { margin-top:5px; }

/* tab strip */
.jg-box-mainlayout ul.tab-strip { padding:3px 0; border-bottom:2px solid #C7C7C7; background:none; }
.jg-box-mainlayout ul.tab-strip li { margin:0; padding:0; }
.jg-box-mainlayout ul.tab-strip li + li { border-left:2px solid #c7c7c7; }
.jg-box-mainlayout ul.tab-strip li a { border:0; background:none; border-radius:0; }
.jg-box-mainlayout .tab-strip .tab-left { padding-left:20px; background:none; border:0; }
.jg-box-mainlayout .tab-strip .tab-right { padding-right:20px; }
.jg-box-mainlayout .tab-strip .tab-left:hover { background:none; }
.jg-box-mainlayout .tab-strip .tab-active a.tab-left, .jg-box-mainlayout .tab-strip .tab-active a.tab-left:hover { background:none; border:0; }
.jg-box-mainlayout .tab-strip a.tab-left .tab-text { color:#A8A8A8; font-size:20px; font-weight:normal; }
.jg-box-mainlayout .tab-strip .tab-active a.tab-left .tab-text,
.jg-box-mainlayout .tab-strip a.tab-left:hover .tab-text,
.jg-box-mainlayout .tab-strip .tab-active a.tab-left:hover .tab-text { color:#4C4C4C; }
.jg-box-mainlayout .tab-strip .tab-text, .jg-box-mainlayout .tab-strip a.tab-left { height:35px; line-height:33px; }
.jg-box-mainlayout .tab-content { background:none; }

.jg-box-sidenav, .jg-box-rightpanel { min-height:700px; }
.jg-box-sidenav { position:absolute; z-index:100; top:0; left:0; width:55px; height:100%; background:#006c86 url('../images/dk-sidenav.png') top left no-repeat; background-size:100% 100%; }
.jg-box-rightpanel { margin-left:0px; position:relative; }

.jg-box-submenu { position: fixed; padding-left: 0px; z-index: 10; top:0; left:-150px; padding-top:42px; box-sizing:border-box; background-color: #198f92; width: 150px; height: 100%; }
.jg-box-foldermenu { position: fixed; z-index: 10; top:0px; right:0; width: 250px; height: 100%; padding-top:90px; box-sizing:border-box; background-color: #0C727A; }
.jg-box-mainarea { padding-left: 50px; }

/* list folder right */
.list-folder { background-position: top left!important; margin-left: 30px!important; text-align: left!important; padding-top: 10px!important; padding-left: 30px!important; margin-top: 20px!important; }

.input-folder {
	margin-top: 12px;
    margin-left: 30px;
    width: 120px;
}

.tmp-folder{
	background-repeat: no-repeat;
	padding: 12px;
	margin: 5px
}

.tmp-folder-remove {
	background-image: url('../images/tmp_folder_trash_icon.png');
}
.tmp-folder-rename {
	background-image: url('../images/tmp_folder_rename_icon.png');
}
.tmp-folder-close {
	background-image: url('../images/tmp_folder_close_icon.png');
}
.tmp-folder-save {
	background-image: url('../images/tmp_folder_check_icon.png');
}

/* right menu on add material (frequently, recomended, favourites) */

.jg-list-mainmenu { margin:0; padding:20px 0; list-style:none; }
.jg-item-mainmenu {  }
.jg-item-mainmenu.jg-separator { height:50px; }
.jg-item-mainmenu + .jg-item-mainmenu { margin-top:20px; }
.jg-item-mainmenu .jg-linkbtn {     height : 35px; min-width: 25px; margin-top: 8px; padding-top: 34px; color: white; text-align: center; font-weight: 100; background-position: 50% 5%; background-repeat: no-repeat; }
.jg-item-mainmenu .jg-linkbtn.active { background-color:#198f92; }
.jg-linkbtn.profile { background-image:url('../images/lsm_user_icon.png'); }
.jg-linkbtn.profile:hover { background-image:url('../images/lsm_user_icon_active.png'); }
.jg-linkbtn.home { background-image:url('../images/lsm_home_icon.png'); }
.jg-linkbtn.home:hover { background-image:url('../images/lsm_home_icon_active.png'); }
.jg-linkbtn.copy_order { background-image:url('../images/lsm_copy_order_icon.png');  }
.jg-linkbtn.copy_order:hover { background-image:url('../images/lsm_copy_order_active.png');  }
.jg-linkbtn.my_order { background-image:url('../images/lsm_my_order_icon.png');  }
.jg-linkbtn.my_order:hover { background-image:url('../images/lsm_my_order_icon_active.png');  }
.jg-linkbtn.my_report { background-image:url('../images/lsm_my_reports_icon.png');  }
.jg-linkbtn.my_report:hover { background-image:url('../images/lsm_my_reports_icon_active.png');  }
.jg-linkbtn.new_order { background-image:url('../images/lsm_new_order_icon.png');  }
.jg-linkbtn.new_order:hover { background-image:url('../images/lsm_new_order_icon_active.png');  }
/* unused icon */
/*.jg-linkbtn.arrow { transform: rotate(180deg); background-image:url('../images/dk-mainmenu-arrow.png'); }
.jg-linkbtn.orders { background-image:url('../images/dk-mainmenu-orders.png'); }*/
.jg-linkbtn.settings { background-image:url('../images/lsm_setting_icon.png'); }
.jg-linkbtn.settings:hover { background-image:url('../images/lsm_setting_icon_active.png'); }
.jg-linkbtn.logout { background-image:url('../images/lsm_logout_icon.png'); }
.jg-linkbtn.logout:hover { background-image:url('../images/lsm_logout_icon_active.png'); }

.jg-img-submenu-icon { display:block; width:auto; height:66px; margin:0 auto; }
.jg-list-submenu { list-style:none; margin:50px 12px 50px 12px; padding:20px 0; border-bottom:1px solid white; }
.jg-item-submenu {  }
.jg-item-submenu + .jg-item-submenu {  }
.jg-item-submenu a { display:block; padding:0 12px; line-height:70px; color:white; font-size:16px; font-weight:100; }
.jg-item-submenu a.active, .jg-item-submenu a:hover { color:#e8ff00; }

.jg-box-topbar, .jg-box-toolbar, .jg-box-maincontent, .jg-box-footer { min-width:1024px; box-sizing:border-box; }
.jg-box-topbar { height:60px; padding-top:1px; color:white; background:#00575d; }
.jg-box-topbar h2 { margin:0; padding:20px; color:white; font-size:16px; text-align:center; font-weight:normal; }

.jg-box-toolbar { height:72px; padding:5px 20px; background:#0C727A; box-sizing:border-box; }
.jg-box-toolbar.invert { background:#b9ca02; }
.jg-box-toolbar.invert .jg-btn { color:#e8ff00; background:#0C727A; }
.jg-box-toolbar .jg-txt-search { margin:13px 0; }
.jg-box-toolbar .jg-btn { margin-top:15px; font-size:14px; }

.jg-list-tool { float:left; list-style:none; margin:0; padding:0; }
.jg-list-tool-right { float:right; list-style:none; margin:0; padding:0; }
.jg-item-tool { float:left; }
.jg-item-tool + .jg-item-tool { margin-left:25px; }
.jg-item-tool.jg-separator { height:60px; border-right:1px solid #e8ff00; }
.jg-box-toolbar.invert .jg-separator { border-color:#ecff26; }
.jg-item-tool.jg-spacer { width:50px; height:10px; }
.jg-tool-select { width:220px; height:41px; padding:10px; font-weight:100; color:white; font-size:14px; border:none; background:url('../images/dk-tool-search.png') 0 0 no-repeat; -webkit-appearance:none; -moz-appearance: none; }
.jg-item-tool option, .jg-item-tool option:hover { color:#000; }
.jg-item-tool .jg-tool-select { margin-top:11px; }
.jg-item-tool .jg-linkbtn { min-width:25px; margin-top:8px; padding-top:34px; color:white; text-align:center; font-weight:100; background-position:top center; background-repeat:no-repeat; }
.jg-item-tool .jg-btn { background-color:transparent; color:white; border:2px solid #fff; }

.jg-box-mainlayout .fa-search:before { position:relative; top:-3px; }

.jg-box-mainlayout .hover-modal { width:30%; height:auto; }
.jg-box-mainlayout .hover-modal-content { position: fixed; width:100%; margin:0 auto; box-sizing:border-box; max-width: 500px; }

/* toolbars */
.jg-item-tool .jg-linkbtn.search { background-image:url('../images/dk-tool-loupe.png'); }
.jg-item-tool .jg-linkbtn.manage { background-image:url('../images/dk-tool-manage.png'); }
.jg-item-tool .jg-linkbtn.refine { background-image:url('../images/dk-tool-refine.png'); }
.jg-item-tool .jg-linkbtn.browse { background-image:url('../images/dk-tool-browse.png'); }
.jg-item-tool .jg-linkbtn.default { background-image:url('../images/dk-tool-default.png'); }
.jg-item-tool .jg-linkbtn.fav { background-image:url('../images/dk-tool-fav.png'); }
.jg-item-tool .jg-linkbtn.trash { background-image:url('../images/dk-tool-trash.png'); }
.jg-item-tool .jg-linkbtn.edit { background-image:url('../images/dk-tool-edit.png'); }
.jg-item-tool .jg-linkbtn.neworder {width:40px; padding-top:45px; background-size: contain; background-image:url('../images/dk-tool-float-neworder.png');}
.jg-item-tool .jg-linkbtn.shoppingcart {background-size: 45px; background-image:url('../images/dk_tool_shoppingcart.png');}
.jg-tool-refresh { float:right; width:41px; height:8px; margin-top:10px; background:url('../images/dk-tool-refresh.png') top right no-repeat; }

.jg-item-tool.report { height:52px; }
.jg-item-tool.report a { margin-top:4px; padding-top:42px; font-size:11px; }
.jg-item-tool .jg-linkbtn.report-add { background-image:url('../images/dk-tool-report-add.png'); }
.jg-item-tool .jg-linkbtn.report-update { background-image:url('../images/dk-tool-report-update.png'); }
.jg-item-tool .jg-linkbtn.report-stylesheet { background-image:url('../images/dk-tool-report-stylesheet.png'); }
.jg-item-tool .jg-linkbtn.report-refresh { background-image:url('../images/dk-tool-report-refresh.png'); }


.jg-box-maincontent .extra-panes { display:none; }
.jg-box-maincontent div.main-pane { float:none; width:auto; margin-left:0; background:none; }
.jg-box-maincontent #cm-manager-content table.x-grid-table-bg-color { min-width:100%; }
.jg-box-maincontent #cm-manager-content .x-grid3-hd-inner { padding:10px 9px; color:white; border:0; background:#B8CA42; }
.jg-box-maincontent #cm-manager-content .x-grid3-hd-row td { border:0 !important; }
.jg-box-maincontent #cm-manager-content .x-grid3-hd-inner .view-header { background:none; color:#fff; font-weight:100; }

.jg-box-maincontent .jg-box-buttons { margin:50px 20px 30px; }

/* new/copy order */
.jg-item-tool .jg-linkbtn.update { background-image:url('../images/dk-tool-update.png'); }
.jg-item-tool .jg-linkbtn.startover { background-image:url('../images/dk-tool-startover.png'); }
.jg-item-tool .jg-linkbtn.createtrans { background-image:url('../images/dk-tool-createtrans.png'); }
.jg-item-tool .jg-linkbtn.addtofav { background-image:url('../images/dk-tool-addtofav.png'); }
.jg-item-tool .jg-linkbtn.pipelineviewer { background-image:url('../images/dk-tool-pipelineviewer.png'); }
.jg-item-tool .jg-linkbtn.troubleshooting { background-image:url('../images/dk-tool-troubleshooting.png'); }
/* overrides */
.jg-page-neworder #document-form { width:auto; }
#attr_wrapper_1_totalContractValue_t { float:right; } 
#attr_wrapper_1_totalContractValue_t .field { font-size:20px; font-weight:bold; }
#orderingRequestNoMoreThan90Characters_t {  }
#readonly_1_note_t li span, #readonly_1_note_t li strong { font-size:14px !important; }

.jg-box-maincontent { min-height:468px; overflow-x:scroll; background:#f2f2f2; }
.jg-box-footer { padding:30px 100px 100px 100px; background:#f2f2f2; }
.jg-img-footer { display:block; width:230px; margin:0 auto; }


/* cart */
.jg-box-mainlayout .configuration-form { margin:0; padding:0 20px; }
.jg-box-mainlayout #materialArrayset { margin:0 0 25px;}
.jg-box-mainlayout .group-content { margin:20px 0; background:#afc008; }
.jg-box-mainlayout .group-content .group-header { margin:0; padding:9px 15px; font-size:14px; color:#fff; background:#afc008; font-family:Arial, Helvetica, sans-serif; text-transform:none; border-bottom:0; line-height:1;}
.model-config .jg-box-mainlayout .group-content .group-header span { display:block; padding-left:0; background:url('../images/dk-panel-arrow-down.png') 100% 50% no-repeat; }
.model-config .jg-box-mainlayout .group-content.collapsed .group-header span { background:url('../images/dk-panel-arrow-down.png') 100% 50% no-repeat; }
.model-config .jg-box-mainlayout .group-content.collapsed .group-header span { padding-left:0; }
.jg-box-mainlayout .group-content .group-header:hover { color:#fff; background:none; }
.jg-box-mainlayout .group-content .group-inner { border:none; margin-top:0; padding:10px; }
.jg-box-mainlayout #materialArraySize { position:relative; bottom:3px; }

.jg-box-mainlayout #jg-btn-addrow { position: relative; left: -7px; top: 2px; }

.array-remove{
	background-image: url('../images/material-trash.png') !important;
	background-position: left top!important;
	background-repeat: no-repeat!important;
	border-radius: 100px;
	width: 24px!important;
	height: 24px!important;
}

.array-add{
	background-image: url('../images/material-add.png') !important;
	background-position: left top!important;
	background-repeat: no-repeat!important;
	border-radius: 100px;
	width: 24px!important;
	height: 24px!important;
}

.material-lens{
	background-image: url('../images/material-lens.png') !important;
	background-position: left top!important;
	background-repeat: no-repeat!important;
	padding: 0px 10px 15px 10px;
}

/* reports */
.jg-box-mainlayout td.view-header { padding:10px 15px; background:#afc008; }
.jg-box-mainlayout td.view-header a { background:none; }


/* login */
.logged-out #jg-overlay {  }
.logged-out .jg-box-mainlayout { display:none; }



.guest-access .jg-box-login div.login-button { width:auto; text-align:center; }
.guest-access .jg-box-login div.login-fields { width:auto; }
.logged-out .jg-box-login #login-form-wrap { position:static; margin-left:auto; padding-top:34px; border:0; background:none; }
.jg-box-login { position:absolute; top:0; right:0; min-height:660px; left:0; z-index:999; background:#00576a url('../images/dk-login-new-bg.jpg') left center; background-size:cover; }
/*.jg-box-login-inner { width:392px; margin:130px auto; }*/
.jg-box-login-inner { background-image: linear-gradient(-180deg, #4F9FA2 0%, #274E56 100%); box-shadow: 0 14px 33px 0 rgba(0,0,0,0.40); border-radius: 60px; max-width: 400px; padding: 30px; right: 20px;top: 50px; position: absolute; }
.jg-login-logo { display:block; margin:0 auto; }
.jg-login-welcome { display:block; margin-top:38px; font-size:26px; color:#e8ff00; text-align:center; }
.jg-box-login #login-form { width:auto !important; padding:0; margin:0; text-align:center; border:0; background:none; box-shadow:none; }
.jg-box-login .jg-box-login-inner .login-fields { padding:0; background:none; }
.jg-box-login .login-toggle { display:none; }
.jg-box-login #login-form label { display:none !important; }
.jg-box-login #login-form #psword { margin-top:35px; margin-bottom:0; }
.jg-box-login .login-button td.button-middle { height:auto; padding:0; }
.logged-out .jg-box-login #login-form a#log_in, .logged-out .jg-box-login #login-form .ui-block-b { width:285px; height:auto; margin-top:60px; line-height:50px; text-transform:capitalize; font-weight:bold !important; color:#00555C; border:0; border-radius:30px; background:#B8C942; }
.logged-out .jg-box-login #login-form a#log_in:hover { background:#B8C942; color:#00555C !important; }
.logged-out .jg-box-login #login-form a#log_in:active { color:#105F54 !important; background:#A0B038; }
.jg-box-login #login-form input[type=text], .jg-box-login #login-form input[type=password] { width:100%; box-sizing:border-box; font-size:18px; border-radius:5px; padding:14px 20px; }
.jg-box-login div.login-links { position:static; text-align:right; }
.jg-box-login #login-form .login-links, .jg-box-login #login-form .login-links a { text-decoration:underline; color:#e8ff00 !important; font-style:italic; font-size:14px; }

/** add logo zuellig **/
.jg-box-login .jg-box-login-bottom { padding:0; background:none; margin-top: -7pc; margin-bottom: 7pc; }

.jg-inner-column { box-sizing:border-box; padding-right:20px; }

#grid-36645928 .column { float:none; }
#attribute-principalCode .attribute-label-container, #attribute-showPrincipalFavorites .attribute-label-container { width:auto !important; }
.jg-box-mainlayout #principalCode { margin-top:5px; }

/* mobile */
.jg-mobilelayout > body { background-color: #fff; }
.jg-mobilelayout #login { background:#00576a url('../images/dk-login-new-bg.jpg') center center; background-size:cover; height: 0px; }
/* override #main-content on login.css */
#main-content {
	margin: 0px!important;
	padding: 0px!important;
}
.jg-mobilelayout #materialArrayset { position: relative; }
.jg-mobilelayout .jg-login-logo { margin: 0px!important; width: 100px; float: right; }
/*.login-mobile-box { background-image: linear-gradient(-180deg, #4F9FA2 0%, #274E56 100%); box-shadow: 0 14px 33px 0 rgba(0,0,0,0.40); border-radius: 60px; max-width: 400px; padding: 30px!important; margin: 100px auto!important; }*/
/*.jg-mobilelayout #login-form { width: 400px !important; padding:0; margin:0 auto; text-align:center; border:0; background:none; box-shadow:none; }*/
.jg-mobilelayout #login-form { background:none; float: right; padding-right: 40px; float: right; margin: 0px!important; width: 230px!important; box-shadow: none; }
.jg-mobilelayout .ui-corner-all { border-radius:5px; }
.jg-mobilelayout .jg-login-welcome { margin-top: 70px;margin-bottom:30px; color: #00575D!important; text-align: left!important; }
.jg-mobilelayout #login-form .ui-submit { width:100%; margin-top:0px; background:#B8C942; border-radius:0px; }
.jg-mobilelayout #login-form .ui-submit .ui-btn-text { font-size:22px; font-weight:normal; color:#fff; line-height:32px; }
.jg-mobilelayout div.ui-input-text { padding:0; }
.jg-mobilelayout #login-form input { margin:0; padding:10px 20px; font-size:18px; box-sizing:border-box; }
.jg-mobilelayout label[for=psword] + .ui-input-text { margin-top:10px; }
.jg-mobilelayout #forgotpassword { width:auto; text-align:right; }
.jg-mobilelayout #forgotpassword a { text-decoration:none; color: grey; font-style:italic; font-size:1.2em; }
.jg-mobilelayout table { border:0 !important; background:#edeac7; }
.jg-mobilelayout button.ui-btn, .jg-mobilelayout button.ui-btn:hover { background:#0C727A !important; border:0; color:#fff; text-shadow:none; }
.jg-mobilelayout .ui-mobile-viewport .jg-box-login #login-form { margin:20px 30px; }
.jg-mobilelayout .jg-box-login .ui-block-b { width:285px; height:auto; margin-top:60px; line-height:50px; text-transform:capitalize; font-weight:bold !important; color:#00555C; border:0; border-radius:30px; background:#B8C942; }

.jg-mobilelayout .jg-item-mainmenu + .jg-item-mainmenu {
	margin-top: 7px;
}

.jg-mobilelayout .jg-list-mainmenu {
	padding: 0px;
}

/* Order Page & Material Page */
.jg-mobilelayout .ui-bar-a {
	background-color: #00667D;
}

.jg-mobilelayout #header .ui-btn-left {
	background-color: #006D86 !important;
	padding-left: 9px;
}

.jg-mobilelayout #header .ui-btn-left span {
	background-image:url('../images/lsm_home_icon.png');
}

.jg-mobilelayout #tabs .tab-link.active {
	border-bottom: none !important;
	background-color: #00575D !important;
}

.jg-mobilelayout #tabs a {
	background-color: #00667D !important;
	color: #fff !important;
}

/* button */
.jg-mobilelayout .action-strip button.ui-btn {
	background-color: #0C727A !important;
	background-image: none!important;
}

.jg-mobilelayout #goto-next-tab {
	background-color: #0C727A !important;
	background-image: none!important;
}

.jg-mobilelayout #config button.ui-btn{
	background-color: #0C727A !important;
	background-image: none!important;
}

.jg-mobilelayout footer.ui-footer .ui-btn {
	background-color: #0C727A !important;
	background-image: none!important;
    color: #fff;
}

.jg-mobilelayout .sidebar-container .sidebar-handle {
	border-right: 40px solid #0C727A!important;
}

/* swipe-sidebar */
.jg-mobilelayout .sidebar-container #swipe-sidebar-header {
	background-color: #AFC008;
    padding: 0.5em;
    margin: 0px!important;
}

.jg-mobilelayout .line-item-grid th {
	background-color: #0C727A !important;
	border-left: none;
	color: #fff;
}

.jg-mobilelayout .lig-group-headers {
	display: none;
}

.jg-mobilelayout .line-item-grid .lig-select .ui-checkbox {
	margin: 0px!important;
}

/* searching form styling */

.jg-mobilelayout .form-search-cust{
	height: 30px;
    padding: 5px;
    width: 600px;
    margin: 12px;
}

/*
.jg-mobilelayout .ui-bar-b, .jg-mobilelayout .ui-page-theme-b .ui-bar-inherit, html.jg-mobilelayout .ui-bar-b .ui-bar-inherit, html.jg-mobilelayout .ui-body-b .ui-bar-inherit, html.jg-mobilelayout body .ui-group-theme-b .ui-bar-inherit { background:#eee; border:0; }
.jg-mobilelayout #tabs .tab-link.active, .jg-mobilelayout #tabs .all-tabs.active,
.jg-mobilelayout .ui-page-theme-b .ui-btn, html.jg-mobilelayout .ui-bar-b .ui-btn, html.jg-mobilelayout .ui-body-b .ui-btn, html.jg-mobilelayout body .ui-group-theme-b .ui-btn, html.jg-mobilelayout head+body .ui-btn.ui-btn-b, .jg-mobilelayout .ui-page-theme-b .ui-btn:visited, html.jg-mobilelayout .ui-bar-b .ui-btn:visited, html.jg-mobilelayout .ui-body-b .ui-btn:visited, html.jg-mobilelayout body .ui-group-theme-b .ui-btn:visited, html.jg-mobilelayout head+body .ui-btn.ui-btn-b:visited,
.jg-mobilelayout .sidebar-container .sidebar-handle, .jg-mobilelayout .sidebar-container header h2,
.jg-mobilelayout .ui-page-theme-b .ui-btn:active, html.jg-mobilelayout .ui-bar-b .ui-btn:active, html.jg-mobilelayout .ui-body-b .ui-btn:active, html.jg-mobilelayout body .ui-group-theme-b .ui-btn:active, html.jg-mobilelayout head+body .ui-btn.ui-btn-b:active
.jg-mobilelayout .ui-page-theme-b .ui-btn:hover, html.jg-mobilelayout .ui-bar-b .ui-btn:hover, html.jg-mobilelayout .ui-body-b .ui-btn:hover, html.jg-mobilelayout body .ui-group-theme-b .ui-btn:hover, html.jg-mobilelayout head+body .ui-btn.ui-btn-b:hover
{ border-color:#ccc; background:#007077; }
.jg-mobilelayout footer.ui-footer { border-top:1px solid #ccc; background:#198F92; }
.jg-mobilelayout .sidebar-container header h2 { color:#fff; }
.jg-mobilelayout .line-item-grid th, .jg-mobilelayout .config-array thead th { border:0; color:#fff; background:#B8CA42; }
.jg-mobilelayout .line-item-grid tfoot tr { color:#000; background:#B8CA42; }
.jg-mobilelayout .config-array td, .jg-mobilelayout .config-array th { border:0; }
.jg-mobilelayout footer.ui-footer button.ui-btn { color:#0C727A; background:#ECFF26; }
.jg-mobilelayout #tabs .tab-link, .jg-mobilelayout #tabs .all-tabs { border-color:#ccc; }

.jg-mobilelayout .ui-controlgroup { display:block; }
.jg-mobilelayout .controlgroup div.heading, .jg-mobilelayout .controlgroup .ui-controlgroup-controls { box-sizing:border-box; }
.jg-mobilelayout .controlgroup div.heading { margin-right:0; }
.jg-mobilelayout .ui-field-contain > label, .jg-mobilelayout .ui-field-contain .ui-controlgroup-label, .jg-mobilelayout .ui-field-contain > .ui-rangeslider > label,
.jg-mobilelayout .ui-field-contain > label ~ [class*=ui-], .jg-mobilelayout .ui-field-contain .ui-controlgroup-controls
{ margin:0; padding-left:0; box-sizing:border-box; }
.jg-mobilelayout .form-field { margin-top:0; }
.jg-mobilelayout .form-field ul { margin-top:0; padding-left:17px; }
.jg-mobilelayout .form-field ul li span, .jg-mobilelayout .form-field ul li strong { font-size:16px !important; }
.jg-mobilelayout .lig-side-scroller table { margin-top:0; }
.jg-mobilelayout #error-messages li { padding:0 10px 10px 10px; }

.jg-box-table { display:block; margin-bottom:20px; float:none !important; }
.jg-box-table table th, .jg-box-table table td { padding:10px 15px; border:0; }
.jg-box-table.small table th, .jg-box-table.small table td { padding:3px 5px; font-size:12px; }
.jg-box-mainlayout .column-1 button.button-text { padding:5px 10px; font-size:12px; height:auto; line-height:1; }
.jg-box-table table th { color:#fff; background:#B8CA42; }

.jg-mobilelayout .jg-box-workflow { padding:50px 25px 40px; background:#fff; text-align:center; }
.jg-mobilelayout .jg-box-workflow img { width:80%; margin:0 auto; }*/

/* Header Table Material */
.config-array th.array-attribute {
	padding: 10px!important;
}

/*
	Task : hide pipeline viewer;
*/
#jg-btn-pipelineviewer { display: none; }

/*
	Task : search customer;
*/

@media only screen and (min-width:480px) {
    .jg-mobilelayout .jg-box-workflow img { width:auto; }
}

.model-config .jg-box-mainlayout #grid-36701507 .group-content .group-inner .jg-box-table {
  max-height: 275px;
  overflow: auto;
}
.model-config .jg-box-mainlayout #grid-36701507 .group-content .group-inner .jg-btn {
    margin-top: 10px;
}
.cell-materialDescription .textarea-listen {
    display: none;
}
.updateMsg { color: #FF0000; font-size: 15px;}

.cell-qty_text {
    position: relative;
}
.bonus-qty-tooltip {
    width: 180px;
    position: absolute;
    border: 1px solid rgb(102, 102, 102);
    background: #f1f1f1;
    padding: 5px;
    top: 0;
    margin-top: -35px;
    line-height: 1.3;
    left: 50%;
}

/* HIDE BUTTON */
#jg-tool-folder-default, #jg-tool-folder-fav, #jg-tool-folder-trash, #jg-tool-folder-edit, #jg-submenu-myreports, .jg-item-tool.jg-separator {
  display: none;
}

/*Right Float Nav*/
#attribute-rightFloatNav {
    /*margin-top: 8px;
    position: fixed;
    right: -387.5px;
    height: 800px;
    width: 27%;*/
    display: none;
    /*z-index: 3;*/
}
/* DESKTOP STYLING FROM KEZ */
#line-item-grid .line-item-grid-header .list-label.actions > div, #line-item-grid .line-item-grid-body .view-text.actions.error-hover > div {
    display: none;
}
.line-item-grid-footer tr th:first-child {
    text-align: center;
}
.line-item-grid-wrapper #line-item-grid {
    background-color: transparent !important;
}
.line-item-grid-wrapper #line-item-grid .line-item-grid-body .parent-line-item .checker input {
    opacity: 0;
}
.line-item-grid-wrapper #line-item-grid .line-item-grid-body tr:nth-child(even) {
    background-color: #fff;
}
.line-item-grid-wrapper #line-item-grid .child-line-item td {
    background-color: transparent !important;
}
.line-item-grid-wrapper {
    width: 100% !important;
    padding: 0 !important;
    /*overflow: hidden !important;*/
}
.line-item-grid-wrapper .checker {
    padding: 4px 5px !important;
}
.line-item-grid-wrapper .child-line-item .checker input {
  float: left !important;
  margin-top: 3px;
}
div[name=materialAuditTableDiv] {
    cursor: pointer;
}
div[name=materialAuditTableDiv] #materialAuditTable {
    display: none;
    margin: 2%;
    width: 96% !important;
    background-color: #edeac7 !important;
}
div[name=materialAuditTableDiv] .audit-tab {
    background-color: #336699 !important;
    width: 100% !important;
}

/* TABLET STLYLING FROM KEZ */
/*.jg-mobilelayout .lig-side-scroller table .content tr:nth-child(1) input {
  display: none;
}*/
.jg-mobilelayout #attribute-allMaterialsString, .jg-mobilelayout #popup-moreBtns .popup-nested-inner ul li a.button-pipeline, .jg-mobilelayout footer.ui-footer .ui-btn.action-type-pipeline-viewer, .jg-mobilelayout #popup-moreBtns .popup-nested-inner ul li.ui-first-child.ui-last-child a, .jg-mobilelayout #tabs ul li#tab-defaultTab, .jg-mobilelayout #goto-next-tab, .jg-mobilelayout #attribute-customerSearchMasterStringHolder  {
    display: none !important;
}
.jg-mobilelayout .ui-field-contain .ui-controlgroup-label {
   /* width: 100% !important;*/
}
.jg-mobilelayout .attribute.recommended {
    background: transparent;
}
.jg-mobilelayout #attribute-totalPrice_t {
    display: none;
}
.jg-mobilelayout .updateMsg {
    color: #FF0000;
    font-size: 16px;
    padding: 10px;
    font-weight: normal;
}

.jg-mobilelayout #attribute-customerSoldToId_pl .form-label,
.jg-mobilelayout #attribute-customerShipToID .form-label,
.jg-mobilelayout #attribute-orderNumber_ML .form-label,
.jg-mobilelayout #attribute-customerName .form-label {
    color: darkred;
    width: 100%;
}
.jg-mobilelayout #attribute-customerSoldToId_pl,
.jg-mobilelayout #attribute-customerShipToID,
.jg-mobilelayout #attribute-orderNumber_ML,
.jg-mobilelayout #attribute-customerName {
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
}
.jg-mobilelayout #tab-content .group .ui-collapsible-heading-toggle {
    background-color: #afc008;
    border-radius: 0;
    color: #fff;
}

/* FAVOURITE LIST */
.jg-mobilelayout #attribute-currentCustFav #CurrentCustFav {
    height: 347px;
    overflow: auto;
}
.jg-mobilelayout #attribute-currentCustFav #CurrentCustFav tr th, .jg-mobilelayout #attribute-pastOrders #PastOrders tr th {
    padding: 10px;
    text-align: center;
}
.jg-mobilelayout #attribute-currentCustFav #CurrentCustFav, .jg-mobilelayout #attribute-currentCustFav  .ui-controlgroup-controls, .jg-mobilelayout #attribute-pastOrders #PastOrders, .jg-mobilelayout #attribute-pastOrders .ui-controlgroup-controls   {
    width: 100% !important;
}
.jg-mobilelayout #attribute-currentCustFav .html-attr > div > span, .jg-mobilelayout #attribute-pastOrders .html-attr > div > span {
    float: none !important;
}
.jg-mobilelayout #config #AddCustFav, .jg-mobilelayout #attribute-pastOrders #AddFav, .jg-mobilelayout #config #DeleteCustFav {
    margin: 20px 20px 0 0;
    width: auto;
    display: inline-block;
}
.jg-mobilelayout footer.ui-footer .sticky-action-strip, .jg-mobilelayout footer.ui-footer #button-bar {
    background-color: #ddd;
    padding: 3px 0;
}
.jg-mobilelayout .config-array thead th {
    background: #007077;
    vertical-align: middle;
    color: #fff;
}
.jg-mobilelayout .config-array thead th:first-child, .jg-mobilelayout .config-array tr:last-child th:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.jg-mobilelayout .config-array td {
    background: #fff;
}

/* CPQ-UI-016 RESTYLE TABLE */
/* CREATED 14 Agustus 2018, ZAINAL ARIFIN */

#materialArrayset .config-array .cell-qty .form-field{
    text-align: center;
}

@media only screen 
and (orientation : landscape){
    .jg-mobilelayout .config-array #attribute-qty{
        width: 6%;
    }
    
    .jg-mobilelayout .config-array #attribute-totalPrice_currency{
        width: 12%;
    }
    
    .jg-mobilelayout .config-array #attribute-overridePrice_currency{
        width: 10%;
    }
    
    .jg-mobilelayout .config-array #attribute-price_Currency{
        width: 10%;
    }
    
    .jg-mobilelayout .config-array #attribute-overrideInvoicePrice{
        width: 13%;
    }
}

@media only screen
and (orientation: portrait){
    .jg-mobilelayout .config-array #attribute-qty{
        width: 7%;
    }

}

/* CPQ-UI-016 RESTYLE TABLE */
/* CREATED 14 Agustus 2018, ZAINAL ARIFIN */

/* Menu on Flow Step */
.jg-mobilelayout .ui-popup-container.ui-popup-active .navigation-menu-wrap li a {
    padding-left: 45px;
    margin: 0;
}
.jg-mobilelayout .ui-popup-container.ui-popup-active .navigation-menu-wrap li a:hover, .jg-mobilelayout .ui-popup-container.ui-popup-active .navigation-menu-wrap li a:active, .jg-mobilelayout .ui-popup-container.ui-popup-active .navigation-menu-wrap li a:focus {
    border: none;
    outline: none;
}
.jg-mobilelayout .ui-popup-container.ui-popup-active .navigation-menu-wrap li img {
    left: 15px;
}
.jg-mobilelayout .cell-promotion, .jg-mobilelayout .cell-contractBonus {
    position: relative;
}
.jg-mobilelayout .table-tooltip {
    text-align: center;
    width: 500px;
    border-collapse: collapse;
    z-index: 1;
    background: #fefefe;
}
.jg-mobilelayout .table-tooltip tr th {
    color: #666;
    font-weight: bold;
}
.jg-mobilelayout #breadcrumbs {
    padding: 20px 30px;
}
.jg-mobilelayout ul.error-text {
    padding: 0 30px;
}
.jg-mobilelayout #config-section {
    padding: 0 20px 20px;
}
.jg-mobilelayout #attribute-saveQuoteRequired_t {
  display: none;
}
/*VMLSINOZP-34 SKU START*/

@media only screen 
and (min-width: 28em)
and (orientation: landscape) {
    .ui-field-contain .ui-controlgroup-controls{
        width: 50%!important;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

   .jg-mobilelayout form#commerce-form fieldset [role="heading"]{
		width: 25%;
		min-width: 203px;
	}
	.jg-mobilelayout form#commerce-form fieldset .ui-field-contain>label{
		width: 28%;
	}
	.jg-mobilelayout form#commerce-formfieldset .ui-field-contain>label ~ [class*=ui-]:not(.ui-flipswitch){
		width: 70%;
	}
}

.jg-mobilelayout form#commerce-form fieldset #attribute-transactionID_t{
	width: 47%;
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 0;
}
.jg-mobilelayout form#commerce-form fieldset #attribute-transactionID_t [role="heading"]{
	width: 60%;
    min-width: 150px;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.jg-mobilelayout form#commerce-form fieldset #attribute-transactionID_t [role="heading"]{
		width: 43%;
		min-width: 203px;
	}
}


.jg-mobilelayout form#commerce-form fieldset #attribute-status_t{
	width: 47%;
	display: inline-block;
	float: right;
}
.jg-mobilelayout form#commerce-form fieldset #attribute-status_t [role="heading"]{
	width: 45%;
	min-width: 150px;
}

.jg-mobilelayout form#commerce-form fieldset #attribute-status_t [role="heading"] + div{
	margin-top: 0;
}

.jg-mobilelayout .left{
	float: left;
    width: 47%;
    display: inline-block;
}
.jg-mobilelayout .right{
	float: left;
    width: 47%;
    display: inline-block;
}
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:first-of-type,
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(6),
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(8){
	float: left;
    width: 47%;
    display: inline-block;
    font-size: 0;
}
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(1) div,
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(2) div,
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(6) div,
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(7) div,
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(8) div,
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(9) div{
	font-size: 16px;
}
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(2),
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(7),
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(9){
    width: 100%;
    display: inline-block;
    font-size: 0;
}
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(3) div[role="heading"],
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(4) div[role="heading"],
.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(5) div[role="heading"]{
    width: 20%;
    /* min-width: 193px; */
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(1) div[role="heading"],
	.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(2) div[role="heading"],
	.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(6) div[role="heading"],
	.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(7) div[role="heading"],
	.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(8) div[role="heading"],
	.jg-mobilelayout form#commerce-form fieldset:last-of-type .group-content>div:nth-of-type(9) div[role="heading"]{
	    width: 200px;
        margin-right: 13px;
	    /* min-width: 193px; */
	}
}
/*VMLSINOZP-34 SKU END*/
/*VMLSINOZP-32 SKU START*/
.jg-mobilelayout #actionErrorMessagesBox {
    display: none;
    background-color: #FFEFD5;
    border: 1px #FF033E solid;
    padding: 10px 0px 10px 10px;
    height: auto;
    width: 90%;
    margin: 10px auto;
}
.jg-mobilelayout ul.error-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.jg-mobilelayout li.error-text {
    font-size: 14px;
    background: url(/img/error.gif) no-repeat 0 0;
    padding-left: 25px;
}
.jg-mobilelayout #config-form div#attribute-zPUserType{
	display: none;
} 
/*VMLSINOZP-32 SKU END*/
/*VMLSINOZP-43 SKU START*/
.jg-mobilelayout form#config-form .group-content #attribute-materialStringHolder,
.jg-mobilelayout form#config-form .group-content #attribute-materialPopupHolder{
	display: none;
}
/*VMLSINOZP-43 SKU END*/
/*VMLSINOZP-54 SKU START*/
.tabular-data-container td.bottom-bar td.button-middle{
	left: 100px;
    top: 5px;
}
/*VMLSINOZP-54 SKU END*/
/*VMLSINOZP-68 START*/
.jg-mobilelayout h2#jg-topbar-title.modified{
    float: left;
}
.jg-mobilelayout h2#jg-topbar-title + ul.topMenuModified{
    float: right;
} 
.jg-mobilelayout h2#jg-topbar-title + ul.topMenuModified li {
    margin-top: 0;
    float: left;
    width: 88px;
}
.jg-mobilelayout h2#jg-topbar-title + ul.topMenuModified li a.jg-linkbtn{
    height: 20px;
    margin-top: 5px;
    /*min-width: 25px;
    padding-top: 34px;
    color: white;
    text-align: center;
    font-weight: 100;
    background-position: 50% 5%;
    background-repeat: no-repeat;*/
}
/*VMLSINOZP-68 END*/
/*mobile confi array set - suresh yagnam*/
/*#materialArrayset{
	width:1000px !important
}
#materialArrayset table{
	width:1000px !important
}*/
#materialArrayset .config-array td, .config-array th ,.config-array td  .ui-controlgroup-controls .read-only .form-field, .rec-item-table.sidebar-table td, .rec-item-table.sidebar-table th{
	font-size: 0.9rem !important;
	
}

#materialArrayset .config-array td > .form-field{
    text-align: center;
}

#materialArrayset tr.messages.constrained td ul li h3{	
	line-height:5px !important;
	font-size: 0.60rem !important;
	
}

/* 
    CREATED BY : ZAINAL ARIFIN
    CREATED DATE : 18-01-2018
    LAST EDIT : 22-01-2018
    PURPOSE : Restyling Material Page
    -- START --
*/

.ui-flipswitch.ui-flipswitch-active{
	background-color: #007077!important;
}

html .ui-field-contain>label+.ui-flipswitch, html .ui-popup .ui-field-contain>label+.ui-flipswitch{
	padding-top: 3px;
}

.ui-field-contain .ui-flipswitch.ui-flipswitch-active, .ui-popup .ui-field-contain .ui-flipswitch.ui-flipswitch-active{
	background-color: #007077!important;
	padding-top: 3px;
}

.ui-flipswitch .ui-shadow-inset .ui-bar-inherit .ui-corner-all{
	background-color: #e9e9e9;
	color: #000;
}

.ui-flipswitch .ui-flipswitch-off{
	padding-top: 4px!important;
	color: #000;
	font-size: 14px!important;
}

#materialArrayset .ui-flipswitch{
    font-size: 13px !important;
    padding-bottom: 2px;
    padding-top: 2px;
    height: 25px;
}

.ui-flipswitch .ui-btn.ui-flipswitch-on{
	font-size: 13px!important;
}

#attribute-currentCustFav{
	height: 200px !important;
    overflow-x: hidden;
    overflow-y: scroll;
	margin-left:-19px;
}

.ui-flipswitch-on .ui-btn .ui-shadow .ui-btn-inherit{
	font-size: 14px!important;
	height: 100%;
}

/* TOP 10 FREQUENTLY ORDERED ITEMS */

#PastOrders table th{
    background-color: #007077;
}

.jg-mobilelayout #attribute-currentCustFav #CurrentCustFav tr th, .jg-mobilelayout #attribute-pastOrders #PastOrders tr th{
    background-color: #007077;
    color: #fff;
    border: 1px;
}

.ui-checkbox input, .ui-radio input, .image-menu-display .ui-btn input{
    position: unset!important;
    left: 0px!important;
    margin: 5px 0px 0px 0px!important;
}

/* TOP 10 FREQUENTLY ORDERED ITEMS */

/* 
    CREATED BY : ZAINAL ARIFIN
    CREATED DATE : 18-01-2018
    LAST EDIT : 22-01-2018
    PURPOSE : Restyling Material Page
    -- END --
*/

/* change font size on table shopping cart */
.config-array th, .config-array td .ui-controlgroup-controls .read-only .form-field, .rec-item-table.sidebar-table td{
	font-size: 0.9rem !important;
}
.myFavMobile{
	height:400px !important;
}
/* change font size on table shopping cart */

/*end mobile confi array set - suresh yagnam*/
/*VMLSINOZP 88 START*/
#attr_wrapper_1_OrderFailMessage{
    color: red;
}
/*#attr_wrapper_1_OrderFailMessage #field_wrapper_1_OrderFailMessage{
    color: red;
}*/
.jg-mobilelayout #attribute-OrderFailMessage {
    color: red;
}
/*VMLSINOZP 88 END*/
/*VMLSINOZP start END*/
#soldToAddress88 {
    color: #fff;
    font-size: 18px;
    background: #007077;
    font-weight: bold;
    padding: 7px 15px;
    width: 64.5%;
    float: right;
    margin-right: 20px;
    margin-bottom: 13px;
}
/*VMLSINOZP 95 END*/
#attribute-zPUserType{
	display:none;
}
#attribute-enableOldMaterialSearch{
	display:none;
}
#attribute-material_s{
    display:none;
}
#attribute-materialDescription_s{
	display:none;
}
#attribute-search_html{
	display:none;
}
#jg-tool-select option[value="36282633"] {
    display: none;
}

.attr-type-date .ui-input-text:after {
    
    display: none!important;

}
